"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
  editor:
    fontSize: 12
    showInvisibles: true
    softwrap: false
    tabLength: 2
  "exception-reporting":
    userId: "0c140198-1c64-46c2-a5a2-85117762a344"
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: true
